.todo-list {
  display: flex;
  height: 100vh;
  padding: 30px 60px;
}

.todo-heading {
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
}

.left-panel {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid #ccc;
}

.right-panel {
  flex: 1;
  padding: 20px;
}

.todo {
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-button {
  background-color: #ff7f50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #ff6347;
}

.add-todo-container {
  margin-top: 20px;
}

/* Custom styles for the Todo component */
.tododiv {
  background-color: #f4f4f4;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tododiv input[type="text"] {
  width: calc(100% - 40px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tododiv input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4682b4;
}


button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.todo-header {
  font-size: 3rem;
  font-weight: bold;
}

.para {
  font-size: 1.2rem;
  margin-top: 20px;
}
